[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
colorama = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
imghosting = {editable = true, path = "."}

[requires]
python_version = "3.7"
